{% extends 'aseguradoras/base.html' %}

{% block TITULO %} Aseguradoras {% endblock TITULO %}

{% block CONTENIDO %}

    {% for asegurado in asegurados %}
        <h2>{{ aseguradora.nombre }}</h2>
        <p>{{ aseguradora.pais }}</p>
        
    {% endfor %}


      <a href="{% url 'aseguradoras:crear_aseguradora' %}"> 
        
        <button>Crear Aseguradora</button>
      </a>
      
      <a href="{% url 'Home:home' %}"> 
        
        <button>Menú Principal</button>
      </a>
      
    

{% endblock CONTENIDO %}



